# Pandas Basics
- Two types of Data
    - <b><u>Series</u></b>
    - Dataframe

- Interacting with Data
    - CRUD

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">1. Import Pandas Library</font><br>
</div>

In [2]:
import pandas as pd

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">2. Series - CRUD</font><br>
</div>

- A one-dimentional labeled data structure

### 2-1) <u>C</u>RUD - Create

- default index starts from 0

In [3]:
data = pd.Series([70, 60, 90])
data

0    70
1    60
2    90
dtype: int64

- Index can be changed

In [11]:
data = pd.Series([70, 60, 90], index = ['Math', 'English', 'Literature'])
data

Math          70
English       60
Literature    90
dtype: int64

### 2-2) C<u>R</u>UD - Read
- Read Index
- Read Values

In [7]:
data.index

Index(['Math', 'English', 'Literature'], dtype='object')

In [9]:
data.values

array([70, 60, 90], dtype=int64)

- Values indicated by Index

In [14]:
print(data['Math'])
print(data[0])

70
70

### 2-3) CR<u>U</u>D - Update

- Update Index

In [15]:
data.index = ['DIGB101', 'DIGB102', 'DIGB405']
data

DIGB101    70
DIGB102    60
DIGB405    90
dtype: int64

- Values can be updated, but not frequently used

In [16]:
data['DIGB102'] = 65
data

DIGB101    70
DIGB102    65
DIGB405    90
dtype: int64

### 2-4) CRU<u>D</u> - Delete

In [17]:
del data['DIGB101']
data

DIGB102    65
DIGB405    90
dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">Data type in Pandas</font><br>
</div>

> - object: string (문자열)
> - int64: integer
> - float64: float
> - bool: boolean

In [19]:
data1 = pd.Series(['Ben', 'Will', 'Sam'])
data1

0     Ben
1    Will
2     Sam
dtype: object

In [23]:
data2 = pd.Series([80, 65, 90])
data2

0    80
1    65
2    90
dtype: int64

In [26]:
data3 = pd.Series([True, True, False])
data3

0     True
1     True
2    False
dtype: bool

### Change data type

In [24]:
data2.astype('float')

0    80.0
1    65.0
2    90.0
dtype: float64