# Pandas Basics
- Two types of Data
    - Series
    - <b><u>Dataframe</u></b>

- Interacting with Data
    - CRUD

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">1. Import Pandas Library</font><br>
</div>

In [2]:
import pandas as pd

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">2. Dataframe - CRUD</font><br>
</div>

- A two-dimensional labeled data structure with 2 or more columns

### 2-1) <u>C</u>RUD - Create

- c.f., dictionary

In [19]:
df1 = pd.DataFrame({
    "Part_Name": ['Door latch', 'Side Mirror', 'Door molding', 'Compressor'],
    "UnitPrice": [22.0, 12.0, 6.0, 54.0],
    "Supplier_Num": [8259, 8261, 8263, 8444]
})
df1

      Part_Name  UnitPrice  Supplier_Num
0    Door latch       22.0          8259
1   Side Mirror       12.0          8261
2  Door molding        6.0          8263
3    Compressor       54.0          8444

- Index can be changed

In [3]:
df1 = pd.DataFrame({
    "Part_Name": ['Door latch', 'Side Mirror', 'Door molding', 'Compressor'],
    "UnitPrice": [22.0, 12.0, 6.0, 54.0],
    "Supplier_Num": [8259, 8261, 8263, 8444]},
    index = [137, 145, 150, 152]
)
df1

        Part_Name  UnitPrice  Supplier_Num
137    Door latch       22.0          8259
145   Side Mirror       12.0          8261
150  Door molding        6.0          8263
152    Compressor       54.0          8444

### 2-2) C<u>R</u>UD - Read
- Read Index
- Read Columns
- Read Values

In [4]:
df1.index

Int64Index([137, 145, 150, 152], dtype='int64')

In [8]:
df1.columns

Index(['Part_Name', 'UnitPrice', 'Supplier_Num'], dtype='object')

In [11]:
df1.values

array([['Door latch', 22.0, 8259],
       ['Side Mirror', 12.0, 8261],
       ['Door molding', 6.0, 8263],
       ['Compressor', 54.0, 8444]], dtype=object)

### 2-3) CR<u>U</u>D - Update

- Update Index

In [5]:
df1.index = [13700, 14500, 15000, 15200]
df1

          Part_Name  UnitPrice  Supplier_Num
13700    Door latch       22.0          8259
14500   Side Mirror       12.0          8261
15000  Door molding        6.0          8263
15200    Compressor       54.0          8444

- Update Columns

In [6]:
df1.columns = ['Part_ID', 'Unit_Price', 'Supplier_ID']
df1

            Part_ID  Unit_Price  Supplier_ID
13700    Door latch        22.0         8259
14500   Side Mirror        12.0         8261
15000  Door molding         6.0         8263
15200    Compressor        54.0         8444

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">Update Index</font><br>
</div>

- Override Index 
    - df.set_index('column')
    - 이름 확인: df.index.name
- Reset Index
    - df.reset_index('column')

In [8]:
#create new dataframe df2
df2 = pd.DataFrame({
    "Part_ID": [137, 145, 150, 152],
    "Part_Name": ['Door latch', 'Side Mirror', 'Door molding', 'Compressor'],
    "UnitPrice": [22.0, 12.0, 6.0, 54.0],
    "Supplier_Num": [8259, 8261, 8263, 8444]},
)
df2

   Part_ID     Part_Name  UnitPrice  Supplier_Num
0      137    Door latch       22.0          8259
1      145   Side Mirror       12.0          8261
2      150  Door molding        6.0          8263
3      152    Compressor       54.0          8444

- Use a column (e.g., Part_ID) as Index
    - df.set_index('column')

In [9]:
df2 = df2.set_index('Part_ID')
df2

            Part_Name  UnitPrice  Supplier_Num
Part_ID
137        Door latch       22.0          8259
145       Side Mirror       12.0          8261
150      Door molding        6.0          8263
152        Compressor       54.0          8444

In [10]:
df2.index.name

'Part_ID'

- Reset Index
    - df.reset_index('column')
    - e.g., 0, 1, 2, 3...

In [11]:
df2 = df2.reset_index('Part_ID')
df2

   Part_ID     Part_Name  UnitPrice  Supplier_Num
0      137    Door latch       22.0          8259
1      145   Side Mirror       12.0          8261
2      150  Door molding        6.0          8263
3      152    Compressor       54.0          8444

- Index 다시 변경

In [12]:
df2 = df2.set_index('Part_ID')
df2

            Part_Name  UnitPrice  Supplier_Num
Part_ID
137        Door latch       22.0          8259
145       Side Mirror       12.0          8261
150      Door molding        6.0          8263
152        Compressor       54.0          8444

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">Interacting with Values in Dataframe</font><br>
</div>

### 3-1) Get <u>Rows</u>
- df.loc
- df.iloc: index

In [14]:
df2

            Part_Name  UnitPrice  Supplier_Num
Part_ID
137        Door latch       22.0          8259
145       Side Mirror       12.0          8261
150      Door molding        6.0          8263
152        Compressor       54.0          8444

In [13]:
df2.loc[137]

Part_Name       Door latch
UnitPrice             22.0
Supplier_Num          8259
Name: 137, dtype: object

In [15]:
df2.iloc[0]

Part_Name       Door latch
UnitPrice             22.0
Supplier_Num          8259
Name: 137, dtype: object

### 3-2) Get <u>Columns</u>
- df ['column']

In [13]:
df2

            Part_Name  UnitPrice  Supplier_Num
Part_ID
137        Door latch       22.0          8259
145       Side Mirror       12.0          8261
150      Door molding        6.0          8263
152        Compressor       54.0          8444

In [15]:
df2['Part_Name']

Part_ID
137      Door latch
145     Side Mirror
150    Door molding
152      Compressor
Name: Part_Name, dtype: object

### 3-3) An intersection of column and row

In [16]:
df2

            Part_Name  UnitPrice  Supplier_Num
Part_ID
137        Door latch       22.0          8259
145       Side Mirror       12.0          8261
150      Door molding        6.0          8263
152        Compressor       54.0          8444

- Get columns first and then row

In [17]:
df2['Part_Name'][145]

'Side Mirror'

- Get rows first and then column

In [18]:
df2.loc[150]['Part_Name']

'Door molding'