# Pandas Basics
- Two types of Data
    - Series
    - <b><u>Dataframe</u></b>

- Interacting with Data
    - CRUD

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">1. Import Pandas Library</font><br>
</div>

In [1]:
import pandas as pd

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">2. Dataframe - CRUD</font><br>
</div>

- A two-dimensional labeled data structure with 2 or more columns

### 2-1) <u>C</u>RUD - Create

- c.f., dictionary

In [107]:
df = pd.DataFrame({
    "Part_ID": [137, 145, 150, 152],
    "Part_Name": ['Door latch', 'Side Mirror', 'Door molding', 'Compressor'],
    "Unit_Price": [22.0, 12.0, 6.0, 54.0],
    "Supplier_Num": [8259, 8261, 8263, 8444]},
)
df

   Part_ID     Part_Name  Unit_Price  Supplier_Num
0      137    Door latch        22.0          8259
1      145   Side Mirror        12.0          8261
2      150  Door molding         6.0          8263
3      152    Compressor        54.0          8444

In [108]:
df = df.set_index('Part_ID')
df

            Part_Name  Unit_Price  Supplier_Num
Part_ID
137        Door latch        22.0          8259
145       Side Mirror        12.0          8261
150      Door molding         6.0          8263
152        Compressor        54.0          8444

### 2-2) C<u>R</u>UD - Read
- Read Index
- Read Columns
- Read Values

### 2-3) CR<u>U</u>D - Update
- Add new columns

In [109]:
df['Supplier_State'] = ['NY', 'IN', 'NC', 'CA']
df

            Part_Name  Unit_Price  Supplier_Num Supplier_State
Part_ID
137        Door latch        22.0          8259             NY
145       Side Mirror        12.0          8261             IN
150      Door molding         6.0          8263             NC
152        Compressor        54.0          8444             CA

- Add new rows

In [110]:
df.loc[160] = ['Door handle', 10.0, 8259, 'IL']
df

            Part_Name  Unit_Price  Supplier_Num Supplier_State
Part_ID
137        Door latch        22.0          8259             NY
145       Side Mirror        12.0          8261             IN
150      Door molding         6.0          8263             NC
152        Compressor        54.0          8444             CA
160       Door handle        10.0          8259             IL

### 2-4) CRU<u>D</u> - Delete
- Delete columns

In [111]:
del df['Supplier_State']
df

            Part_Name  Unit_Price  Supplier_Num
Part_ID
137        Door latch        22.0          8259
145       Side Mirror        12.0          8261
150      Door molding         6.0          8263
152        Compressor        54.0          8444
160       Door handle        10.0          8259

- delete rows

In [112]:
df = df.drop([160])
df

            Part_Name  Unit_Price  Supplier_Num
Part_ID
137        Door latch        22.0          8259
145       Side Mirror        12.0          8261
150      Door molding         6.0          8263
152        Compressor        54.0          8444

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">Supplementary</font><br>
</div>

### Copy
> A copy creates a new object which stores the reference of the original elements.

In [113]:
df

            Part_Name  Unit_Price  Supplier_Num
Part_ID
137        Door latch        22.0          8259
145       Side Mirror        12.0          8261
150      Door molding         6.0          8263
152        Compressor        54.0          8444

In [120]:
df_copy = df[['Part_Name', 'Unit_Price']].copy()
df_copy

            Part_Name  Unit_Price
Part_ID
137        Door latch        22.0
145       Side Mirror        12.0
150      Door molding         6.0
152        Compressor        54.0

- Changes made to the copied df do not affect the original df

In [121]:
df_copy.columns = ['PartName', 'UnitPrice']

In [122]:
df_copy

             PartName  UnitPrice
Part_ID
137        Door latch       22.0
145       Side Mirror       12.0
150      Door molding        6.0
152        Compressor       54.0

In [124]:
df

            Part_Name  Unit_Price  Supplier_Num
Part_ID
137        Door latch        22.0          8259
145       Side Mirror        12.0          8261
150      Door molding         6.0          8263
152        Compressor        54.0          8444