### Exercise 1. 

* Take USD from the user that ranges from 100 to 999 and convert it to Korean Won. 
* NOTE: there is a space between currency and unit

```python
example. USD = '100 dollars'
```

* Currency rate information is as shown below
<table>
<thead>
<tr>
<th>Currency</th>
<th>KRW</th>
</tr>
</thead>
<tbody>
<tr>
<td>USD</td>
<td>1216</td>
</tr>
</tbody>
</table>

* Output example: <br>
121600 won

In [8]:
USD = input()
if USD[4:] == 'dollars':
    print(int(USD[:4])*1216, 'KRW')

100 dollars
121600 KRW

### Exercise 2. String, If statement, Dictionary
* Create a dictionary of currency rate, and take currency (USD or CNY or JPY) from the user and convert it to KRW.

* NOTE: Input ranges from 100 to 999 and there is a space between currency and unit

<table>
<thead>
<tr>
<th>Currency</th>
<th>KRW</th>
</tr>
</thead>
<tbody>
<tr>
<td>USD</td>
<td>1216</td>
</tr>
<tr>
<td>CNY</td>
<td>191</td>
</tr>
<tr>
<td>JPY</td>
<td>10</td>
</tr>
</tbody>
</table>

In [13]:
curr_dict = {'USD':1216, 'CNY':191, 'JPY':10}

In [14]:
currency = input()

if currency[4:] == 'USD':
    print(int(currency[:4])*curr_dict['USD'], 'KRW')
elif currency[4:] == 'CNY':
    print(int(currency[:4])*curr_dict['CNY'], 'KRW')
elif currency[4:] == 'JPY':
    print(int(currency[:4])*curr_dict['JPY'], 'KRW')

100 USD
121600

### Exercise 3. Loop
* Print multiplication table as shown below
  - output example
<pre>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
.
.
.
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
</pre>

In [19]:
for i in range(2,10):
    for m in range(1,10):
        print(i, 'X', m, '=', i*m)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### Exercise 4. Dictionary
* Create an employee dictionary with Department info in keys and Employee info in values. Print keys or values only

<table>
<thead>
<tr>
<th>Dept</th>
<th>Employee</th>
</tr>
</thead>
<tbody>
<tr>
<td>Marketing</td>
<td>Ben</td>
</tr>
<tr>
<td>Operation</td>
<td>Sam</td>
</tr>
<tr>
<td>MIS</td>
<td>Will</td>
</tr>
<tr>
<td>Finance</td>
<td>Sarah</td>
</tr>
</tbody>
</table>

* output example
<pre>
['Marketing', 'Operation', 'MIS', 'Finance']
['Ben', 'Sam', 'Will', 'Sarah']
</pre>

In [24]:
dict = {'Dept':'Employee', 'Marketing':'Ben', 'Operation':'Sam',
        'MIS':'Will', 'Finance':'Sarah'}
print(dict.keys())
print(dict.values())

dict_keys(['Dept', 'Marketing', 'Operation', 'MIS', 'Finance'])
dict_values(['Employee', 'Ben', 'Sam', 'Will', 'Sarah'])

### Exercise 5. Dictionary
* Create an employee dictionary and print as shown below using 'Loops'.

<pre>
Marketing : Ben
Operation : Sam
MIS : Will
Finance : Sarah
</pre>

<table>
<thead>
<tr>
<th>Dept</th>
<th>Employee</th>
</tr>
</thead>
<tbody>
<tr>
<td>Marketing</td>
<td>Ben</td>
</tr>
<tr>
<td>Operation</td>
<td>Sam</td>
</tr>
<tr>
<td>MIS</td>
<td>Will</td>
</tr>
<tr>
<td>Finance</td>
<td>Sarah</td>
</tr>
</tbody>
</table>

In [30]:
 dict = {'Dept':'Employee', 'Marketing':'Ben', 'Operation':'Sam',
        'MIS':'Will', 'Finance':'Sarah'}

for index1 in dict.keys():
     print(index1, ':', dict[index1])

Dept : Employee
Marketing : Ben
Operation : Sam
MIS : Will
Finance : Sarah

### Exercise 6. Dictionary 
* Create a dictionary as shown below and print employees with X in the third column

<pre>
Marketing : Ben
Operation : Sam
MIS : Will
Finance : Sarah
</pre>

<table>
<thead>
<tr>
<th>Dept</th>
<th>Employee</th>
<th>Check</th>
</tr>
</thead>
<tbody>
<tr>
<td>Marketing</td>
<td>Ben</td>
<td>X</td>
</tr>
<tr>
<td>Operation</td>
<td>Sam</td>
<td>O</td>
</tr>
<tr>
<td>MIS</td>
<td>Will</td>
<td>X</td>
</tr>
<tr>
<td>Finance</td>
<td>Sarah</td>
<td>X</td>
</tr>
</tbody>
</table>

* output example.
<pre>
Marketing
MIS
Finance
</pre>

In [32]:
emp_dict = {'Dept':['Employee','Check'], 'Marketing':['Ben','X'], 'Operation':['Sam','O'],
         'MIS':['Will','X'], 'Finance':['Sarah','X']}

In [35]:
for emp in emp_dict.keys():
    if emp_dict[emp][1] == 'X':
        print(emp)

Marketing
MIS
Finance