In [3]:
article = "BTS were the big winners at Sunday's American Music Awards, picking up three prizes including artist of the year.

The South Korean band also won best pop group for the third year in a row, and best pop song for their chart-topping dance anthem, Butter.

"This whole thing is a miracle," said singer RM. "Seriously, we'll never take this for granted."

Taylor Swift won best female pop artist for the sixth time, also taking home best pop album for Evermore.

Those two prizes brought Swift's total tally of American Music Awards to 34, extending her lead as the artist with the most wins. Michael Jackson is in second place with 26 wins.

She also previously won artist of the decade in 2019. Accepting the best pop album prize on Sunday, the star described Evermore as the "adventurous, fun younger sister" to her lockdown album Folklore, which won album of the year at the Grammys in March.

The star also thanked fans for their support, saying: "I'm so lucky to be in your life and to get to have you in mine."
"

SyntaxError: EOL while scanning string literal (<ipython-input-3-d2ee145ac96b>, line 1)

In [2]:
#variable
article = '''BTS were the big winners at Sunday's American Music Awards, picking up three prizes including artist of the year.

The South Korean band also won best pop group for the third year in a row, and best pop song for their chart-topping dance anthem, Butter.

"This whole thing is a miracle," said singer RM. "Seriously, we'll never take this for granted."

Taylor Swift won best female pop artist for the sixth time, also taking home best pop album for Evermore.

Those two prizes brought Swift's total tally of American Music Awards to 34, extending her lead as the artist with the most wins. Michael Jackson is in second place with 26 wins.

She also previously won artist of the decade in 2019. Accepting the best pop album prize on Sunday, the star described Evermore as the "adventurous, fun younger sister" to her lockdown album Folklore, which won album of the year at the Grammys in March.

The star also thanked fans for their support, saying: "I'm so lucky to be in your life and to get to have you in mine.'''

In [4]:
article.count("BTS")
#객체지향 object-orientned programming(OOP)

1

In [5]:
article.count("bts")

0

In [6]:
article.count("Swift")

2

In [7]:
print(article.count("BTS"))

1

## len : number of characters

In [10]:
print(len(article))

1015

## Indexing & Slicing

In [13]:
print(article[0])

B

In [17]:
print(article[-1])

In [18]:
#문자열 string
string = "Python"

In [23]:
print(string)

python

In [26]:
#3rd position
print(string[2])

t

In [27]:
print(string[2:4])
#strings positioned from 2nd to 3rd

th

## strip function

In [28]:
string2 = "    Hello Python    "

In [30]:
print(string2)

    Hello Python

In [31]:
print(string2.strip())

Hello Python

## Data Type: List

* CRUD
* C:Create
* R:Read
* U:Update
* D:Delete

## 1) Create a new list

In [40]:
data_list = list()

In [33]:
location = ['Seoul', 'Sejong', 'Pusan']

In [35]:
print(location)

['Seoul', 'Sejong', 'Pusan']

## 2) Append: Add a new element in a list

In [36]:
location.append('Tokyo')

In [37]:
location

['Seoul', 'Sejong', 'Pusan', 'Tokyo']

In [38]:
location.append('Kyoto')

In [39]:
location

['Seoul', 'Sejong', 'Pusan', 'Tokyo', 'Kyoto']

In [42]:
location[2:5] #slicing list

['Pusan', 'Tokyo', 'Kyoto']

## 3) Delete elements in a list

In [43]:
location

['Seoul', 'Sejong', 'Pusan', 'Tokyo', 'Kyoto']

In [44]:
location.remove('Pusan')

In [45]:
location

['Seoul', 'Sejong', 'Tokyo', 'Kyoto']

In [46]:
del location[3]

In [47]:
location

['Seoul', 'Sejong', 'Tokyo']

## 4) Update elements

In [48]:
location

['Seoul', 'Sejong', 'Tokyo']

In [49]:
location[1] = 'Daejon'

In [50]:
location

['Seoul', 'Daejon', 'Tokyo']

In [51]:
data_list

[]

In [52]:
data_list.append('Seoul')

In [53]:
data_list

['Seoul']

In [54]:
data_list.append('Incheon')

In [55]:
data_list

['Seoul', 'Incheon']

## Various types of data

* string
* integer 정수
* float 소수점
* boolean

In [57]:
data2 = ['Seoul', 7, 2.78, True]

## Exercise

In [69]:
lang = ['java', 'c', 'html']

In [70]:
del lang[1]

In [71]:
lang

['java', 'html']

In [72]:
lang.append('python')

In [73]:
lang

['java', 'html', 'python']