<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="4em" style="font-weight:bold;color:#3f8dbf;">CSV File to Graph</font><br>
</div>

- Visualization Tool: https://app.flourish.studio/

### 1. Read a CSV file

In [2]:
import pandas as pd
df_confirmed = pd.read_csv('final_covid.csv')
df_confirmed.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
1,Albania,0,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
2,Algeria,0,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
4,Angola,0,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155

In [3]:
df_confirmed.shape

(187, 149)

### 2. iso2 Info
>- Get ios2 info from 'UID_ISO_FIPS_LookUp_Table'
>- Pre-process 'iso2' info
    - iso2.duplicated()
    - iso2.drop_duplicates(subset='Country_Region', keep='last')
>

In [4]:
iso2 = pd.read_csv('COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv', encoding='utf-8-sig', keep_default_na=False, na_values='')
iso2.head()

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [5]:
iso2 = iso2[['iso2', 'Country_Region']]
iso2.head()

  iso2 Country_Region
0   BW       Botswana
1   BI        Burundi
2   SL   Sierra Leone
3   AF    Afghanistan
4   AL        Albania

In [6]:
iso2.shape

(3560, 2)

In [25]:
iso2.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3555     True
3556     True
3557     True
3558     True
3559     True
Length: 3560, dtype: bool

In [26]:
iso2 = iso2.drop_duplicates(subset='Country_Region', keep='last')
iso2.shape

(180, 2)

### 3. Merge 'df_confirmed' & 'iso2'

In [27]:
doc_final = pd.merge(df_confirmed, iso2, how='left', on='Country_Region')
doc_final.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,AO

In [28]:
doc_final.shape

(187, 150)

>- Check NaN

In [29]:
doc_final.isnull().sum()

Country_Region    0
1/22/2020         0
1/23/2020         0
1/24/2020         0
1/25/2020         0
                 ..
6/14/2020         0
6/15/2020         0
6/16/2020         0
6/17/2020         0
iso2              9
Length: 150, dtype: int64

In [30]:
doc_final[doc_final['iso2'].isnull()]

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
38,Comoros,0,0,0,0,0,0,0,0,0,...,141,162,162,163,176,176,176,197,197,NaN
44,Cruise Ship,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
49,Diamond Princess,0,0,0,0,0,0,0,0,0,...,712,712,712,712,712,712,712,712,712,NaN
99,Lesotho,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,NaN
105,MS Zaandam,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,NaN
130,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
147,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,514,611,632,639,659,661,662,671,683,NaN
166,Tajikistan,0,0,0,0,0,0,0,0,0,...,4690,4763,4834,4902,4971,5035,5097,5160,5221,NaN
184,Yemen,0,0,0,0,0,0,0,0,0,...,524,560,591,632,705,728,844,885,902,NaN

>- Delete rows with NaN in 'iso2'

In [34]:
doc_final = doc_final.dropna(subset=['iso2'])

In [35]:
doc_final[doc_final['iso2'].isnull()]

Empty DataFrame
Columns: [Country_Region, 1/22/2020, 1/23/2020, 1/24/2020, 1/25/2020, 1/26/2020, 1/27/2020, 1/28/2020, 1/29/2020, 1/30/2020, 1/31/2020, 2/01/2020, 2/02/2020, 2/03/2020, 2/04/2020, 2/05/2020, 2/06/2020, 2/07/2020, 2/08/2020, 2/09/2020, 2/10/2020, 2/11/2020, 2/12/2020, 2/13/2020, 2/14/2020, 2/15/2020, 2/16/2020, 2/17/2020, 2/18/2020, 2/19/2020, 2/20/2020, 2/21/2020, 2/22/2020, 2/23/2020, 2/24/2020, 2/25/2020, 2/26/2020, 2/27/2020, 2/28/2020, 2/29/2020, 3/01/2020, 3/02/2020, 3/03/2020, 3/04/2020, 3/05/2020, 3/06/2020, 3/07/2020, 3/08/2020, 3/09/2020, 3/10/2020, 3/11/2020, 3/12/2020, 3/13/2020, 3/14/2020, 3/15/2020, 3/16/2020, 3/17/2020, 3/18/2020, 3/19/2020, 3/20/2020, 3/21/2020, 3/22/2020, 3/23/2020, 3/24/2020, 3/25/2020, 3/26/2020, 3/27/2020, 3/28/2020, 3/29/2020, 3/30/2020, 3/31/2020, 4/01/2020, 4/02/2020, 4/03/2020, 4/04/2020, 4/05/2020, 4/06/2020, 4/07/2020, 4/08/2020, 4/09/2020, 4/10/2020, 4/11/2020, 4/12/2020, 4/13/2020, 4/14/2020, 4/15/2020, 4/16/2020, 4/17/2020, 4/18/2020, 4/19/2020, 4/20/2020, 4/21/2020, 4/22/2020, 4/23/2020, 4/24/2020, 4/25/2020, 4/26/2020, 4/27/2020, 4/28/2020, 4/29/2020, ...]
Index: []

[0 rows x 150 columns]

### 4. Get Flag Image Links

>- Source: https://countryflagsapi.com/
>- e.g., KR: https://countryflagsapi.com/png/kr

In [36]:
def create_flag_link(country_code):
    flag_link = 'https://countryflagsapi.com/png/' + country_code
    return flag_link

### 5. Apply 'Flag Image Links' to 'iso2' in doc_final

In [37]:
doc_final['iso2'] = doc_final['iso2'].apply(create_flag_link)

In [38]:
doc_final.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,https://countryflagsapi.com/png/AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,https://countryflagsapi.com/png/AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,https://countryflagsapi.com/png/DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,https://countryflagsapi.com/png/AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,https://countryflagsapi.com/png/AO

### 6. 'iso2' as a 2nd column

In [45]:
cols = doc_final.columns.tolist()

>- Remove 'iso2'
>- Inser in the Index number 1

In [46]:
cols.remove('iso2')
cols.insert(1, 'iso2') #index number 1

In [48]:
doc_final = doc_final[cols]

In [49]:
doc_final.head()

,Country_Region,iso2,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Afghanistan,https://countryflagsapi.com/png/AF,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
1,Albania,https://countryflagsapi.com/png/AL,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
2,Algeria,https://countryflagsapi.com/png/DZ,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
3,Andorra,https://countryflagsapi.com/png/AD,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
4,Angola,https://countryflagsapi.com/png/AO,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155

### 7. Save as a CSV file

In [53]:
doc_final.to_csv('final_covid_flag.csv')